# terraform.tfvars.example
# Copy this file to terraform.tfvars and fill in your real values

############################################
# Container User / Group IDs
############################################
puid = "1000"     # Your user ID (id -u)
pgid = "1000"     # Your group ID (id -g)
tz   = "America/Chicago"

############################################
# API Keys for Auto-Linking + Indexer Seeding
############################################
sabnzbd_api_key  = "CHANGEME" #YOUR_SABNZBD_KEY
sonarr_api_key   = "CHANGEME" #YOUR_SONARR_KEY
radarr_api_key   = "CHANGEME" #YOUR_RADARR_KEY
prowlarr_api_key = "CHANGEME" #YOUR_PROWLARR_KEY
nzbgeek_api_key  = "pvT1CLUTqGLgads1wEI7DsLzcqzwaLZB" #Manually pull your API key for nzbgeek

############################################
# Optional: Override ports if needed
############################################
# ports = {
#   bazarr    = "6767"
#   npm_admin = "81"
#   npm_http  = "80"
#   npm_https = "443"
#   plex      = "32400"
#   portainer = "9000"
#   prowlarr  = "9696"
#   radarr    = "7878"
#   sabnzbd   = "8080"
#   sonarr    = "8989"
# }
